---
import ImageUser from '/Img/f146fe95-9203-4a91-8eb9-586044f65eaa.jfif'
import Cv from '/cv/CV_FRANK.pdf'
---

<main class="flex items-center gap-16 justify-center md:h-[80vh] max-xl::h-auto"

>
  <img
    src={ImageUser}
    class="object-cover w-96 h-96 shadow-lg"
    alt=""
    style="border-radius: 30% 70% 70% 30% / 42% 30% 70% 58%;"
  />
  <nav>
    <h1 class="text-4xl font-bold">
      Fullstack <span class="text-red-500">Developer</span>
    </h1>
    <p class="text-pretty w-[600px] mt-10 leading-relaxedS">
      Software Engineering student and passionate full-stack programmer with
      experience in various programming languages in Backend and Frontend.
      Focused on approaching projects from multiple perspectives to ensure
      comprehensive and efficient solutions.
    </p>
   <footer class="mt-6">
    <a href={Cv} target="_blank" rel="Cv documento for franx" class="bg-red-500 px-2 py-1 rounded-lg">Download Cv</a>
   </footer>
  </nav>
</main>
