---
interface Props {
  Image: string;
  ClassName: string;
}
const { Image, ClassName } = Astro.props;
---

<article class={`h-[400px]  ${ClassName} `}>
  <div
    class="w-full h-full relative group ease-out duration-1000 transition-all overflow-hidden"
  >
    <img
      src={Image}
      class="object-cover w-full h-full block rounded-lg blur-sm hover:blur-0 transition-all cursor-pointer group/item"
      alt=""
    />
    <header
      class="absolute right-0 bg-white/10 p-6 shadow-2xl w-full h-48 -bottom-50 group-hover:bottom-0 transition-all ease-out duration-100000"
    >
      <h3 class="text-2xl font-semibold">Intiscrop</h3>
      <p class="text-pretty w-[70%] my-2">Development of a web application dedicated to technical support for businesses: a comprehensive solution to optimize management and efficiency in the information technology environment</p>
    </header>
  </div>
</article>
